body {
    height: 100%;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    justify-content: center;
    padding-top: 25vh;
}

.spot {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    font-family: sans-serif;
}